<section class="footer-section">
  <div>
    <p>© 2023 Nelson Guerra</p>
  </div>
  <div class="footer-side">
    <div class="social-column">
      <p class="footer-title">Socials</p>
      <p><a href="#">Dribble</a></p>
      <p><a href="#">Medium</a></p>
      <p><a href="#">LinkedIn</a></p>
    </div>
    <div class="contact-column">
      <p class="footer-title">Contact</p>
      <p><a href="#">CV</a></p>
      <p><a href="#">Email</a></p>
      <p><a href="#">Buy me a ☕️</a></p>
    </div>
  </div>
</section>
