<nav class="navbar-container">
  <div class="logo">
    <span>
      <a routerLink="/" [innerHTML]="content.logo" href="#"></a>
    </span>
  </div>
  <div class="navbar-links">
    <div class="link">
      <a routerLink="/" [innerHTML]="content.links.url.home" href="#"></a>
    </div>
    <div class="link">
      <a routerLink="about" [innerHTML]="content.links.url.about" href="#"></a>
    </div>
    <div class="link">
      <a
        routerLink="contact"
        [innerHTML]="content.links.url.contact"
        href="#"
      ></a>
    </div>
  </div>
</nav>
