<section class="hero-container">
  <p class="heading-0" [innerHTML]="content.nameTitle"></p>
  <h1 class="heading-1">
    a <span>Product Designer</span> and <span>Developer</span> from Atlanta. I
    love <span>creating</span> beautiful experiences that bring people together.
  </h1>
  <p>
    Associate Software Engineer at
    <a
      routerLink="https://deltaairlines.sharepoint.com"
      href="https://deltaairlines.sharepoint.com"
      target="_blank"
      >Delta Airlines</a
    >
  </p>
</section>
